---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15F7NRBUofbCWxo1ZSTCnCLN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Ee0kCnCotyjuQ0OnsakoneHS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15F7NRBUofbCWxo1ZSTCnCLN",
          "created": 1419874341,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15F7NRBUofbCWxo1CHexVa78",
              "object": "charge",
              "created": 1419874341,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "captured": true,
              "card": {
                "id": "card_15F7NQBUofbCWxo1ZFRoBAFG",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2016,
                "fingerprint": "kmuttaUoZGSNB9xB",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5PxIjCIAH2Z2ta"
              },
              "balance_transaction": "txn_15F7NRBUofbCWxo13b34o8Ur",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_5PxIjCIAH2Z2ta",
              "invoice": "in_15F7NRBUofbCWxo1orerXZj3",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": "MyFlix monthly",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15F7NRBUofbCWxo1CHexVa78/refunds",
                "data": []
              },
              "statement_description": "MyFlix monthly"
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5PxIH4lTvHJxQd",
          "api_version": "2014-11-05"
        }
  recorded_at: Mon, 29 Dec 2014 19:14:37 GMT
recorded_with: VCR 2.9.3
