---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=11&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Ee0kCnCotyjuQ0OnsakoneHS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_152T5TBUofbCWxo18nuMl6EQ",
          "livemode": false,
          "created": 1416859531,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_152T5TBUofbCWxo13aeNh7cQ",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "PrMEOAfQZIZfnx15",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Mon, 24 Nov 2014 20:05:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&card=tok_152T5TBUofbCWxo18nuMl6EQ
    headers:
      Authorization:
      - Bearer sk_test_Ee0kCnCotyjuQ0OnsakoneHS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_152T5TBUofbCWxo1vbQokqKX"
          }
        }
  recorded_at: Mon, 24 Nov 2014 20:05:32 GMT
recorded_with: VCR 2.9.3
