---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=11&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Ee0kCnCotyjuQ0OnsakoneHS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15A4unBUofbCWxo1R2QU6f1G",
          "livemode": false,
          "created": 1418673237,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15A4unBUofbCWxo1I1yH6j4V",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "kmuttaUoZGSNB9xB",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Mon, 15 Dec 2014 19:53:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&card=tok_15A4unBUofbCWxo1R2QU6f1G
    headers:
      Authorization:
      - Bearer sk_test_Ee0kCnCotyjuQ0OnsakoneHS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15A4unBUofbCWxo1dO6VhAa2",
          "object": "charge",
          "created": 1418673237,
          "livemode": false,
          "paid": true,
          "amount": 300,
          "currency": "usd",
          "refunded": false,
          "captured": true,
          "card": {
            "id": "card_15A4unBUofbCWxo1I1yH6j4V",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "kmuttaUoZGSNB9xB",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "balance_transaction": "txn_15A4unBUofbCWxo1eVOydYpL",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15A4unBUofbCWxo1dO6VhAa2/refunds",
            "data": []
          }
        }
  recorded_at: Mon, 15 Dec 2014 19:53:57 GMT
recorded_with: VCR 2.9.3
