---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=11&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Ee0kCnCotyjuQ0OnsakoneHS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15F86xBUofbCWxo1Wb9OGQPn",
          "livemode": false,
          "created": 1419877163,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15F86xBUofbCWxo1gH9Mb2jC",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "kmuttaUoZGSNB9xB",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Mon, 29 Dec 2014 18:19:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15F86xBUofbCWxo1Wb9OGQPn&plan=base&email=juvenal%40bins.info
    headers:
      Authorization:
      - Bearer sk_test_Ee0kCnCotyjuQ0OnsakoneHS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-05'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1419877164,
          "id": "cus_5Py3S36zbJxMCF",
          "livemode": false,
          "description": null,
          "email": "juvenal@bins.info",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Py3S36zbJxMCF/subscriptions",
            "data": [
              {
                "id": "sub_5Py3xcXZLzYbbR",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1418672313,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "MyFlix monthly",
                  "statement_description": "MyFlix monthly"
                },
                "object": "subscription",
                "start": 1419877164,
                "status": "active",
                "customer": "cus_5Py3S36zbJxMCF",
                "cancel_at_period_end": false,
                "current_period_start": 1419877164,
                "current_period_end": 1422555564,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Py3S36zbJxMCF/cards",
            "data": [
              {
                "id": "card_15F86xBUofbCWxo1gH9Mb2jC",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 11,
                "exp_year": 2016,
                "fingerprint": "kmuttaUoZGSNB9xB",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Py3S36zbJxMCF"
              }
            ]
          },
          "default_card": "card_15F86xBUofbCWxo1gH9Mb2jC"
        }
  recorded_at: Mon, 29 Dec 2014 18:19:24 GMT
recorded_with: VCR 2.9.3
